*{
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12pt;
    font-weight: bold;
    border-radius: 0px;
    border: none;
    font-weight: bold;
}

#workspaces button:hover {
    background-color: #74512D;
}
